.cardbookPrefStarClass {
	list-style-image: url("chrome://messenger/skin/starIcons.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}
.cardbookPrefStarClass[haspref="true"] {
	-moz-image-region: rect(16px, 16px, 32px, 0);
}