.cardIconColumnHeader {
	list-style-image: url("chrome://cardbook/skin/abcard.png");
}

treechildren::-moz-tree-image(cardIcon) {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

treechildren::-moz-tree-image(cardIcon, MailList) {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}
